---
import Layout from "../layouts/Layout.astro";
import Components from "../components/Welcome.astro";
import Artists from "../components/Artists.astro";
import Albums from "../components/Albums.astro";
---

<Layout>
  <main>
    <section class="img_galleri">
      <h1>Popular Artists</h1>
      <section class="popular_artists">
        <Artists
          img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
          navn="Miley Cyrus"
        />
        <Artists
          img="https://via.assets.so/album.png?id=17&q=95&w=360&h=360&fit=fill"
          navn="Selena Gomez"
        />
        <Artists
          img="https://via.assets.so/album.png?id=21&q=95&w=360&h=360&fit=fill"
          navn="Justin Bieber"
        />
        <Artists
          img="https://via.assets.so/album.png?id=22&q=95&w=360&h=360&fit=fill"
          navn="Miley Cyrus"
        />
      </section>
      <h1>Popular albums and singles</h1>
      <section class="popular_albums">
        <Albums
          img="https://via.assets.so/album.png?id=11&q=95&w=360&h=360&fit=fill"
          album="A Year Without Rain"
          kunstner="Selena Gomez"
        />
        <Albums
          img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
          album="A Little Bit Longer"
          kunstner="Jonas Brothers"
        />
        <Albums
          img="https://via.assets.so/album.png?id=23&q=95&w=360&h=360&fit=fill"
          album="Party In The Usa"
          kunstner="Miley Cyrus"
        />
        <Albums
          img="https://via.assets.so/album.png?id=20&q=95&w=360&h=360&fit=fill"
          album="Under The Mistletoe"
          kunstner="Justin Bieber"
        />
      </section>
    </section>
  </main>
</Layout>
