---
import Layout from "../layouts/Layout.astro";
import Components from "../components/Welcome.astro";
import Artists from "../components/Artists.astro";
import Albums from "../components/Albums.astro";
import Action from "../components/Action.astro";
const logoSrc = "/spotify-logo.svg";
const homeIcon = "/home-icon.svg";
const deviceIcon = "/device-icon.svg";
---

<Layout>
  <header>
    <nav class="navbar">
      <div class="navbar-left">
        <img src={logoSrc} alt="Spotify Logo" class="logo" />
        <img src={homeIcon} alt="Home" class="icon home-icon" />
        <div class="search-bar">
          <input type="text" placeholder="What do you want to play?" />
          <img src={deviceIcon} alt="Device" class="icon device-icon" />
        </div>
      </div>

      <div class="navbar-right">
        <a href="#">Premium</a>
        <a href="#">Support</a>
        <a href="#">Download</a>
        <div class="divider"></div>
        <a href="#">Install App</a>
        <a href="#">Sign up</a>
        <button class="login-btn">Log in</button>
      </div>
    </nav>
  </header>
  <main>
    <section class="info_galleri">
      <h1 class="overskrift">Your Library</h1>
      <Action
        overskrift="Create your first playlist"
        text="It's easy, we'll help you"
        button="Create playlist"
      />
      <Action
        overskrift="Let's find some podcasts to follow"
        text="We'll keep you updated on new episodes"
        button="Browse podcasts"
      />

      <article class="footer">
        <h4>Legal</h4>
        <h4>Safety & Privacy Center</h4>
        <h4>Privacy Policy</h4>
        <h4>Cookie Settings</h4>
        <h4>About Ads</h4>
        <h4>Accessibility</h4>
        <h3>Cookies</h3>
        <button>English</button>
      </article>
    </section>
    <section class="img_galleri">
      <h1>Popular Artists</h1>
      <section class="popular_artists">
        <Artists
          img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
          navn="Miley Cyrus"
        />
        <Artists
          img="https://via.assets.so/album.png?id=17&q=95&w=360&h=360&fit=fill"
          navn="Selena Gomez"
        />
        <Artists
          img="https://via.assets.so/album.png?id=21&q=95&w=360&h=360&fit=fill"
          navn="Justin Bieber"
        />
        <Artists
          img="https://via.assets.so/album.png?id=22&q=95&w=360&h=360&fit=fill"
          navn="Miley Cyrus"
        />
      </section>
      <h1>Popular albums and singles</h1>
      <section class="popular_albums">
        <Albums
          img="https://via.assets.so/album.png?id=11&q=95&w=360&h=360&fit=fill"
          album="A Year Without Rain"
          kunstner="Selena Gomez"
        />
        <Albums
          img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
          album="A Little Bit Longer"
          kunstner="Jonas Brothers"
        />
        <Albums
          img="https://via.assets.so/album.png?id=23&q=95&w=360&h=360&fit=fill"
          album="Party In The Usa"
          kunstner="Miley Cyrus"
        />
        <Albums
          img="https://via.assets.so/album.png?id=20&q=95&w=360&h=360&fit=fill"
          album="Under The Mistletoe"
          kunstner="Justin Bieber"
        />
      </section>
      <h1>Popular radio</h1>
      <section class="popular_albums">
        <Albums
          img="https://via.assets.so/album.png?id=11&q=95&w=360&h=360&fit=fill"
          album="A Year Without Rain"
          kunstner="Selena Gomez"
        />
        <Albums
          img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
          album="A Little Bit Longer"
          kunstner="Jonas Brothers"
        />
        <Albums
          img="https://via.assets.so/album.png?id=23&q=95&w=360&h=360&fit=fill"
          album="Party In The Usa"
          kunstner="Miley Cyrus"
        />
        <Albums
          img="https://via.assets.so/album.png?id=20&q=95&w=360&h=360&fit=fill"
          album="Under The Mistletoe"
          kunstner="Justin Bieber"
        />
      </section>
      <h1>Featured Charts</h1>
      <section class="popular_albums">
        <Albums
          img="https://via.assets.so/album.png?id=11&q=95&w=360&h=360&fit=fill"
          album="A Year Without Rain"
          kunstner="Selena Gomez"
        />
        <Albums
          img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
          album="A Little Bit Longer"
          kunstner="Jonas Brothers"
        />
        <Albums
          img="https://via.assets.so/album.png?id=23&q=95&w=360&h=360&fit=fill"
          album="Party In The Usa"
          kunstner="Miley Cyrus"
        />
        <Albums
          img="https://via.assets.so/album.png?id=20&q=95&w=360&h=360&fit=fill"
          album="Under The Mistletoe"
          kunstner="Justin Bieber"
        />
      </section>
      <h1>God fredag, god ny musik🎶</h1>
      <section class="popular_albums">
        <Albums
          img="https://via.assets.so/album.png?id=11&q=95&w=360&h=360&fit=fill"
          album="A Year Without Rain"
          kunstner="Selena Gomez"
        />
        <Albums
          img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
          album="A Little Bit Longer"
          kunstner="Jonas Brothers"
        />
        <Albums
          img="https://via.assets.so/album.png?id=23&q=95&w=360&h=360&fit=fill"
          album="Party In The Usa"
          kunstner="Miley Cyrus"
        />
        <Albums
          img="https://via.assets.so/album.png?id=20&q=95&w=360&h=360&fit=fill"
          album="Under The Mistletoe"
          kunstner="Justin Bieber"
        />
      </section>
    </section>
  </main>
</Layout>
