---
const { img, album, kunstner } = Astro.props;
---

<article class="artists">
  <img src={img} alt="" />
  <h2>{album}</h2>
  <h3>{kunstner}</h3>
</article>

<style>
  .artists {
    padding: 20px;
  }
  .artists:hover {
    background-color: #1f1e1f;
    border-radius: 12px;
  }
</style>
