---
const { img, navn } = Astro.props;
---

<article class="artists">
  <img class="artist-img" src={img} alt="" />
  <h2>{navn}</h2>
  <h3>Artist</h3>
</article>

<style>
  .artist-img {
    border-radius: 50%;
  }

  .artists {
    padding-inline: 20px;
  }
  .artists:hover {
    background-color: #1f1e1f;
    border-radius: 12px;
  }
</style>
